@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


body {
    background-color: #C0E8FF;
    font-family: 'Quicksand';
}

.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 40%;
}

#background-video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cobre toda a área da tela */
}

/* Estilo do conteúdo */
.content {
    width: 90%;
    right: 5%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
    color: white; /* Ajuste conforme necessário */
    font-size: 35pt;
}

.content-main{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.content p {
    color: #dafaff;
    font-size: 25pt;
    width: 80%;
    font-weight: 400;
}

.content-texts {
    width: 50%;
}

.initial {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    background-color: black;
}

.ourSolution, .findBotTitle {
    color: #0C0059;
    font-size: 35pt;
    margin-top: 30px;
    margin-left: 30px;
    max-height: 15%;
}

.infos1-content, .infos3-content {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 85%;
    gap: 5%;
    padding-left: 30px;
}


.infos1-texts, .infos3-texts {
    width: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.infos1-texts p, .infos3-texts p {
    font-size: 20pt;
    font-weight: 300;
    text-align: start;
}

.infos1-texts button, .infos3-texts button {
    font-size: 20pt;
    font-weight: 400;
    background-color: #0C0059;
    color: #C0E8FF;
    border: none;
    padding: 20px;
    border-radius: 20px;
    width: 60%;
    transition: all 0.2s;
}

.infos1-projects-images{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 80vh;
    width: 55%;
    margin-top: -3%;
}


.projectInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
}

.projectInfo img{
    height: 85%;
    width: auto;
    position: relative;
    margin: 0;
}

.projectInfo p{
    transform: rotate(180deg);
    writing-mode: vertical-rl;
    font-size: 25px;
    font-weight: 700;
    margin-right: 30px;
}

.infos2-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 90%;
    gap: 8%;
    align-self: center;
    justify-self: center;
}

.infos2-content img{
    padding-left: 10%;
}

.infos2-texts {
    width: 100%;
    text-align: end;
    display: flex;
    flex-direction: column;
    gap: 20px;
}



.infos2-texts h3 {
    font-size: 35pt;
    font-weight: bold;
    color: #C0E8FF;
}

.infos2-texts p {
    font-size: 22pt;
    font-weight: 300;
    color: #ffffff;
}

.backgroundInfos {
    opacity: 50%;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.backgroundDiv {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -2;
    background-color: #0C0059;
}

.infos1-texts button:hover, .infos3-texts button:hover{
    cursor: pointer;
    opacity: 80%;
}

.infoSecao{
    width:150px;
    border-radius: 30px;
}

.icons{
    padding-right: 30px;
    width: 22%;
}

.infos3-texts {
    width: 55%;
}

@media screen and (max-width: 768px) {
    header .logo {
        width: 40%;
        height: auto;
    }
    .content-texts {
      width: 100% !important;
      text-align: left;
    }
    .ourSolution, .infos2Title, .findBotTitle, .publicoAlvo, .beneficiosTitle, .objetivoTitle {
        margin-left: 0 !important;
        text-align: center;
        margin-top: 90px !important;
    }
    .content-main {
        margin-bottom: 50px;
    }
    .imgInfos1 {
        margin-bottom: 50px !important;
    }
    .infos1-content, .infos3-content, .infos5-content {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        padding-left: 0;
    }
    .infos1-content img, .infos5-content img {
        width: 80%;
        margin-bottom: 20px;
    }
    .infos2-content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
        margin-top: 15%;
        width: 95%;
        
    }
    .infos2Title {
        display: none;
    }
    .oceanos {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 90%;
        height: 30%;
        gap: 10px;
    }
    .oceanosInfos {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .mediaLixo {
        text-align: center;
    }
    .oceanos h3 {
        font-size: 13pt !important;
    }
    .oceanos .tempOceano {
        font-size: 10pt !important;
    }
    .oceanos .lixoOceano {
        font-size: 10pt !important;
    }
    .mediaInfos h3 {
        font-size: 25pt !important;
    }
    .mediaInfos {
        width: 90%;
    }
    .infos2-content {
        height: 90%;
    }
    .infos3-content img {
        width: 80%;
        margin-bottom: 20px;
    }
    .infos2-texts {
        width: 85% !important;
        margin-right: -55px !important;
    }
    .infos2-texts p {
        font-size: 18pt !important;
    }
    .infos4-texts {
        width: 90%;
    }
    .infos4-texts p {
        font-size: 20pt;
    }
    .infos2-texts h3 {
        font-size: 30pt !important;
    }
    .infos5-texts p {
        font-size: 25pt;
        margin-bottom: 30px;
    }
    .imgInfos3 {
        margin: 40px 0px !important;
    }
    .imgInfos5 {
        margin-bottom: 40px !important;
    }
    .infos6-texts {
        width: 90%;
    }
    .infos6-texts p {
        font-size: 17pt;
    }
    .infos1-texts, .infos3-texts, .infos5-texts {
        width: 80%;
    }
    .infos1-content button, .infos3-content button, .infos5-content button {
        width: 80%;
        margin-bottom: 20px;
    }
    .infos1-projects-images {
        width: 100%;
        height: auto;
        padding-bottom: 80px;
        padding-top: 40px;
    }
    .infos2-content img {
        display: none;
    }
    .infos2-texts {
        width: 85% !important;
        margin-right: 1% !important;
    }
    .infos2-content {
        width: 100%;
    }
    .projectInfo {
        width: 90%;
        height: auto;
    }
    .projectInfo img {
        width: 100% !important;
        height: auto !important;
    }
    .infos3-content img {
        margin: 40px 0px;
        padding-right: 0;
    }
}